/*
primary color #FAFAFA
second color #000000
third color #D45621
4th color #ACC8E5
5th color #AA451A
*/

:root {
  --color-primary: #fafafa;
  --color-secondary: #000000;
  --color-tertiary: #d45621;
  --color-4th: #809131;
  --color-5th: #aa451a;
  --color-tertiary-lither: #dd784d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Transition de l'ensemble de la carte (y compris l'image) */
.card {
  transition: transform 0.3s ease;
}

/* Mouvement de la carte entière au survol */
.card:hover {
  transform: translateX(10px) translateY(-10px); /* Déplace la carte légèrement */
}


/* Footer Styling */
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f0a500;
}

.footer__about,
.footer__links,
.footer__contact,
.footer__socials {
  line-height: 1.8;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #f0a500;
}

.footer__social {
  color: #fff;
  font-size: 20px;
  margin-right: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social:hover {
  /*color: #f0a500;*/
    color: #007bff; /* Couleur au survol */
    transform: scale(1.2); /* Agrandit l'icône au survol */
}

.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 15px;
  border-top: 1px solid #444;
  padding-top: 1rem;
  color: #ccc;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--color-secondary);
  line-height: 1.9;
  background-color: var(--color-primary);
  padding: 1rem;
}

/* GENERAL ELEMENTS */
/* .section { */

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}
/* nav and stickly class at the same time */
/* .nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
} */

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
}

.nav__link:link,
.nav__link:visited {
  margin-left: 5rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-secondary);
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.btn__InsCon:link,
.btn__InsCon:visited {
  background-color: var(--color-tertiary);
}
.btn__InsCon:hover,
.btn__InsCon:active {
  background-color: var(--color-tertiary-lither);
  color: var(--color-secondary);
}

.btn__service:link,
.btn__service:visited {
  background-color: none;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.btn--text {
  font-size: 1.6rem;
  width: 31rem;
  height: 5rem;
  border: none;
  padding: 0.2rem 1rem;
  background-color: inherit;
  color: var(--color-tertiary);
  border-radius: 1rem;
}
.btn--text:hover,
.btn--text:active {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  cursor: pointer;
}

/* sections */
.section {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*section 1*/
#section--1 {
  margin-top: 5rem;
  /* height: 100vh; */
}
.section--title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.section--title h2 {
  font-size: 3rem;
}
.boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.box {
  display: flex;
  max-width: 39rem;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}
.box:first-child {
  margin-bottom: 2rem;
}
.box--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.box--icon {
  /* display: none; */
  color: var(--color-4th);
  width: 50px;
}
.box--title {
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 1rem;
}
.box--descrition {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
}

/* Section2 */
#section--2 {
  margin-bottom: 5rem;
}
#section--2 .section--title {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 24px;
  padding: 1rem;
}
.card:hover {
  cursor: pointer;
}

.card--1 {
  background-color: #acc8e5;
}
.card--2 {
  background-color: #ffbec7;
}
.card--3 {
  background-color: #80ae80;
}
.card--4 {
  background-color: #a1a8de;
}
.card--img {
  width: 21rem;
  height: 11rem;
  border-radius: 16px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.card--title {
  font-size: 16px;
  font-weight: 550;
}
.card--description {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
}

.btn {
  padding: 0.7rem 1.7rem;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-tertiary);
  border: var(--color-tertiary) solid 1px;
  /* border: var(--color-tertiary) transparent 1px; */
  background-color: var(--color-primary);
  border-radius: 24px;
  margin-top: 2rem;
}

.btn:hover {
}

/* section 3 */

#section--3 {
  /* height: 100vh; */
  margin: 0 auto;
  margin-bottom: 3rem;
}
.avis--box {
  display: flex;
  gap: 2rem;
}
.avis--body {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
  margin-bottom: 1rem;
}

.avis {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #809131; */
  padding: 1.5rem;
}
.avis--img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.avis--body--top {
  display: flex;
  flex-direction: column;
}
.star--box {
  display: flex;
}
.star--icon {
  width: 24px;
  height: 24px;
}
.user--name {
  font-size: 1rem;
  font-weight: 550;
  margin-left: 0.4rem;
}

.avis--description {
  width: 25rem;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
}

#section--4 {
}
#section--4 h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

#section--4 .section--title {
  margin-bottom: 0;
}

.prestataire-inscription-box {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.prestataire-inscription-box--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.download--btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--color-tertiary);
  padding: 0.2rem 0.4rem;
  width: 10rem;
  border-radius: 1rem;
  cursor: pointer;
  flex: 1;
}
.download--btn-container:hover {
  background-color: var(--color-tertiary-lither);
  transition: all 400ms;
}

.prestataire-inscription-box--desccription {
  width: 28rem;
  font-size: 1rem;
  font-weight: 400;
}
#section--4 img {
  width: 45rem;
}

.download--btn {
  width: 24px;
  height: 24px;
}
/* / */

/* Inscription/Connexion */

#section--5 {
  display: none;
}
.inscription--connexion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.login--signup--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10rem; */
  background-color: #fff5ec;
  width: 50%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
}
.login--signup--box img {
  width: 15rem;
  margin-bottom: 2rem;
}

.signup--login--btn {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.signup--btn {
  color: var(--color-primary);
}
.login--btn {
  margin-top: 1rem;
  border: var(--color-tertiary) solid 2px;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.signup--login--btn:hover {
  background-color: var(--color-tertiary-lither);
}

.from--logo {
  width: 15rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 68%;
  border-radius: 0.5rem;
}

.inputs {
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1rem transparent;
}

.inputs:focus {
  border: 1px solid var(--color-secondary);
}
.terms {
  font-size: 1rem;
}

.terms strong {
  color: var(--color-tertiary);
  cursor: pointer;
}

.form .signup--login--btn {
  width: 100%;
  text-align: center;
  background-color: var(--color-tertiary);

  color: var(--color-primary);
}

.login--form {
  width: 350px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* .section,
.header {
  display: none;
} */
