/* Réinitialisation des styles par défaut */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100px;

}

.form-container {
    background-color:rgb(185, 141, 95);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #135c39;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3e9f75;
}

textarea {
    resize: vertical;
}

.btn {
    background-color: #8784b9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5490e5;
}

::placeholder {
    color: #a76b6b;
}

